body {
    background-color: white;
}

#main-title {
    text-align: center;
    margin: 15px 0 30px;
}

/* Home */ 

#contacts-table {
    max-width: 800px;
    margin: 0 auto;
}

#contacts-table thead {
    color: white;
    background-color: blue;
}

.actions {
    text-align: right;
    width: 150px;
}

.check-icon {
    color: green;
}

.edit-icon {
    color: blue;
}
.delete-icon {
    color: red;
}

#empty-list-text {
    text-align: center;
}

#msg {
    color: green;
    background-color: gray;
    border: 1px solid rgb(73, 73, 73);
    padding: 10px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}

/* CONTATO INDIVIDUAL */

#view-contact-container {
    max-width: 500px;
    margin: 0 auto;
}

.bold {
    font-weight: bold;
}

#back-link-container {
    display: block;
    width: 500px;
    margin: 30px auto 0;
}

#back-link {
    border: 1px solid blue;
    color: blue;
    border-radius: 4px;
    padding: 5px;
}

#back-link:hover {
    text-decoration: none;
}

/* CREATE */

#create-form,
#edit-form {
    max-width: 500px;
    margin: 0 auto;
}